@model OnlineTrener.ViewModels.AuthLogin
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(x => x.Username)
        @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
    </div>

    <div>
        <input type="submit" value="Login" />
    </div>
}
