@model OnlineTrener.ViewModels.UsersList

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            Roles
        </th>
        
    </tr>
  


        @foreach (var item in Model.Users)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @string.Join(", ", item.Roles.Select(role => role.roleName))
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userId }) |
                    @Html.ActionLink("Reset Password", "ResetPassword", new { id = item.userId }) |
                    @*<input type="submit" class="btn btn-default btn-xs" value="Delete" />*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.userId })
                </td>
            </tr>
        }

</table>
@Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x}))